body{
    background-color: rgb(228, 241, 239);

}
.body{
    color: rgb(30, 29, 29);
    display: inline-block;
    padding: 20px;
    border: 2px solid gray;
    border-width: 30px;
    margin: 30px;

}