<<<<<<< HEAD

h1 {
    color: #2c3e50;
}
h2 {
    color: #6c757d;
}
p {
    color: #1e5b81;
}

.highlight {
    background-color: #f6f2e4;
}

#main-title {
    font-size: 36px;
    text-align: center;
    color: #7e218e;
    padding-bottom: 10px;
}

div p {
    color: #0b5345;
    background-color: #e8f8f5;
}

div > ul > li {
    background-color: #fef9e7;
    color: #7d6608;
}

.item1{
    background-color: #d4edda;
}
.item3 {
    background-color: #f8d7da;
}
#img
{
    width: 50%;
    height: 50%;
    align-items: center;
    border: 2px solid gainsboro;
    margin: 10px 10px 10px 70px;
}
=======

h1 {
    color: #2c3e50;
}
h2 {
    color: #6c757d;
}
p {
    color: #1e5b81;
}

.highlight {
    background-color: #f6f2e4;
}

#main-title {
    font-size: 36px;
    text-align: center;
    color: #7e218e;
    padding-bottom: 10px;
}

div p {
    color: #0b5345;
    background-color: #e8f8f5;
}

div > ul > li {
    background-color: #fef9e7;
    color: #7d6608;
}

.item1{
    background-color: #d4edda;
}
.item3 {
    background-color: #f8d7da;
}
#img
{
    width: 50%;
    height: 50%;
    align-items: center;
    border: 2px solid gainsboro;
    margin: 10px 10px 10px 70px;
}
>>>>>>> ef2c2c9d712ad8df91eca4d53985b3e6f0be8a6f
