body {
    font-family: Arial, sans-serif;
    margin: 40px;
    line-height: 1.6;
    background-color: antiquewhite;
}
#center {
    text-align: center;
}
h1 {
    color: navy;
    text-align: center;
}
h2, h3 {
    color: darkslategray;
    text-align: center;
}
ol li {
    margin: 8px 0;
}
.container{
    justify-content: center;     /* Center horizontally */
    align-items: center;         /* Center vertically */
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 20px;
    flex-direction: column;
}
@media screen and (max-width: 480px) {
   body {
        background-color: aqua;
    }

    .desktop-list {
        display: none; /* hide desktop list */
    }

    .mobile-list {
        display: block; /* show mobile list */
        color: blue;
        font-weight: bold;
        text-align: center;
    }

    /* Mobile last item centered */
    .mobile-list .last-item {
        align-self: center;
    }

    .container {
        background-color: #e0f7fa; /* light background for mobile */
    }
}