     body {
            font-family: Arial, sans-serif;
            padding: 30px;
        }
        h1, h2 {
            text-align: center;
        }
        button {
            padding: 10px 20px;
            margin: 10px 0;
            font-size: 16px;
            cursor: pointer;
        }