     body {
            font-family: Arial, sans-serif;
            padding: 30px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            background-color: rgb(217, 217, 217);
            justify-content: center;
            align-items: center;
        }
        h1, h2 {
            text-align: center;
        }
        button {
            padding: 10px 20px;
            margin: 10px 0;
            font-size: 16px;
            cursor: pointer;
            border-radius: 8px;
            background-color: rgb(233, 219, 201);
            cursor: pointer;
            width: fit-content;                        
        }