<<<<<<< HEAD
 body {
 background-color: lightyellow;
 }
 h3 {
 color: purple;
 text-decoration: underline;
 }
 p {
 color: darkblue;
 font-size: 14px;
 }
=======
 body {
 background-color: lightyellow;
 }
 h3 {
 color: purple;
 text-decoration: underline;
 }
 p {
 color: darkblue;
 font-size: 14px;
 }
>>>>>>> ef2c2c9d712ad8df91eca4d53985b3e6f0be8a6f
 